<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kelin.commonview"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kelin.commonview.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".indicator.activity.IndicatorListActivity"
            android:label="Main/Indicator" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kelin.commonview.main.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".indicator.activity.TitleIndicatorActivity"
            android:label="Indicator/Title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kelin.commonview.indicator.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".indicator.activity.CirclePageIndicatorActivity"
            android:label="Indicator/Circle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kelin.commonview.indicator.SAMPLE" />
            </intent-filter>
        </activity>
          <activity
            android:name=".progressbar.CircleProgressBarActivity"
            android:label="ProgressBar/Circle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kelin.commonview.progressbar.SAMPLE" />
            </intent-filter>
        </activity>
             <activity
            android:name=".progressbar.ProgressBarListActivity"
            android:label="Main/ProgressBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kelin.commonview.main.SAMPLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>